<a href="https://colab.research.google.com/github/abhyudaya29/100-days-of-machine-learning/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
!pip install tensorflow==2.10

Collecting tensorflow==2.10
  Downloading tensorflow-2.10.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (578.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 578.0/578.0 MB 2.7 MB/s eta 0:00:00
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (1.56.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (3.8.0)
Collecting keras<2.11,>=2.10.0 (from tensorflow==2.10)
  Downloading keras-2.10.0-py2.py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 75.5 MB/s eta 0:00:00
Collecting keras-preprocessing>=1.1.1 (from tensorflow==2.10)
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (16.0.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (23.1)
Collecting protobuf<3.20,>=3.9.2 (from tensorflow==2.10)
  Downloading protobuf-3.19.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 63.3 MB/s eta 0:00:00
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (1.16.0)
Collecting tensorboard<2.11,>=2.10 (from tensorflow==2.10)
  Downloading tensorboard-2.10.1-py3-none-any.whl (5.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.9/5.9 MB 72.8 MB/s eta 0:00:00
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (0.32.0)
Collecting tensorflow-estimator<2.11,>=2.10.0 (from tensorflow==2.10)
  Downloading tensorflow_estimator-2.10.0-py2.py3-none-any.whl (438 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 438.7/438.7 kB 38.8 MB/s eta 0:00:00
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (4.6.3)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.10) (1.14.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow==2.10) (0.40.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10) (2.17.3)
Collecting google-auth-oauthlib<0.5,>=0.4.1 (from tensorboard<2.11,>=2.10->tensorflow==2.10)
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10) (2.27.1)
Collecting tensorboard-data-server<0.7.0,>=0.6.0 (from tensorboard<2.11,>=2.10->tensorflow==2.10)
  Downloading tensorboard_data_server-0.6.1-py3-none-manylinux2010_x86_64.whl (4.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 94.2 MB/s eta 0:00:00
Collecting tensorboard-plugin-wit>=1.6.0 (from tensorboard<2.11,>=2.10->tensorflow==2.10)
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 781.3/781.3 kB 52.4 MB/s eta 0:00:00
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10) (2.3.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow==2.10) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow==2.10) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow==2.10) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow==2.10) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow==2.10) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow==2.10) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow==2.10) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow==2.10) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.11,>=2.10->tensorflow==2.10) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow==2.10) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow==2.10) (3.2.2)
Installing collected packages: tensorboard-plugin-wit, keras, tensorflow-estimator, tensorboard-data-server, protobuf, keras-preprocessing, google-auth-oauthlib, tensorboard, tensorflow
  Attempting uninstall: keras
    Found existing installation: keras 2.12.0
    Uninstalling keras-2.12.0:
      Successfully uninstalled keras-2.12.0
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.12.0
    Uninstalling tensorflow-estimator-2.12.0:
      Successfully uninstalled tensorflow-estimator-2.12.0
  Attempting uninstall: tensorboard-data-server
    Found existing installation: tensorboard-data-server 0.7.1
    Uninstalling tensorboard-data-server-0.7.1:
      Successfully uninstalled tensorboard-data-server-0.7.1
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
  Attempting uninstall: google-auth-oauthlib
    Found existing installation: google-auth-oauthlib 1.0.0
    Uninstalling google-auth-oauthlib-1.0.0:
      Successfully uninstalled google-auth-oauthlib-1.0.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.12.3
    Uninstalling tensorboard-2.12.3:
      Successfully uninstalled tensorboard-2.12.3
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.12.0
    Uninstalling tensorflow-2.12.0:
      Successfully uninstalled tensorflow-2.12.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-datasets 4.9.2 requires protobuf>=3.20, but you have protobuf 3.19.6 which is incompatible.
tensorflow-metadata 1.13.1 requires protobuf<5,>=3.20.3, but you have protobuf 3.19.6 which is incompatible.
Successfully installed google-auth-oauthlib-0.4.6 keras-2.10.0 keras-preprocessing-1.1.2 protobuf-3.19.6 tensorboard-2.10.1 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.10.0 tensorflow-estimator-2.10.0

In [5]:
import tensorflow as tf
print(tf.__version__)

2.10.0

In [6]:
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("/content/Churn_Modelling.csv")

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
X=df.iloc[:,3:13]
y=df.iloc[:,13]

In [11]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [12]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [15]:
#feature engineering
geography=pd.get_dummies(X['Geography'],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [16]:
gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [24]:
X.drop(labels=['Geography','Gender'],axis=1,inplace=True)

In [25]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10

In [27]:
X=pd.concat([X,geography,gender],axis=1)

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [29]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [30]:
X_train.shape

(6700, 11)

In [31]:
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaler=scaler.transform(X_test)

In [32]:
X_train_scaled

array([[ 1.67588802, -0.94183739,  0.00934296, ...,  1.74875572,
        -0.57987798, -1.10022343],
       [ 0.30320673, -0.17987213,  1.04687659, ...,  1.74875572,
        -0.57987798,  0.9089063 ],
       [-0.10235819,  0.96307575, -0.33650158, ...,  1.74875572,
        -0.57987798,  0.9089063 ],
       ...,
       [ 0.86475817, -0.08462648, -1.37403521, ..., -0.57183516,
        -0.57987798, -1.10022343],
       [ 0.15761932,  0.39160181,  1.04687659, ..., -0.57183516,
        -0.57987798,  0.9089063 ],
       [ 0.46959234,  1.15356706, -1.37403521, ...,  1.74875572,
        -0.57987798,  0.9089063 ]])

In [33]:
## Lets create ANN
##Tenserflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,PReLU,ReLU
from tensorflow.keras.layers import Dropout

In [34]:
##lets initalize the ann

classifier=Sequential()

In [35]:
##adding the input layer
classifier.add(Dense(units=11,activation='relu'))

In [36]:
## adding the first hidden layer
classifier.add(Dense(units=7,activation='relu'))

In [37]:
classifier.add(Dense(units=6,activation='relu'))

In [38]:
## adding the output layer
classifier.add(Dense(1,activation='sigmoid'))

In [43]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [47]:
## early stopping
import tensorflow as tf

early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [49]:
model_history=classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks=
early_stopping)

Epoch 1/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5107 - accuracy: 0.7926 - val_loss: 0.5124 - val_accuracy: 0.7907
Epoch 2/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 3/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 4/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5125 - val_accuracy: 0.7907
Epoch 5/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 6/1000
449/449 [==============================] - 2s 5ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 7/1000
449/449 [==============================] - 2s 5ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 8/1000
449/449 [==============================] - 2s 5ms/step - loss: 0.5205 - accuracy: 0.7926 - val_loss: 0.5141 - val_accuracy: 0.7898
Epoch 9/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5109 - accuracy: 0.7923 - val_loss: 0.5130 - val_accuracy: 0.7907
Epoch 10/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5129 - val_accuracy: 0.7907
Epoch 11/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5128 - val_accuracy: 0.7907
Epoch 12/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5128 - val_accuracy: 0.7907
Epoch 13/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5104 - accuracy: 0.7926 - val_loss: 0.5127 - val_accuracy: 0.7907
Epoch 14/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5127 - val_accuracy: 0.7907
Epoch 15/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 16/1000
449/449 [==============================] - 2s 4ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5127 - val_accuracy: 0.7907
Epoch 17/1000
449/449 [==============================] - 2s 5ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5127 - val_accuracy: 0.7907
Epoch 18/1000
449/449 [==============================] - 2s 5ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 19/1000
449/449 [==============================] - 2s 4ms/step - loss: 0.5105 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 20/1000
449/449 [==============================] - 1s 3ms/step - loss: 0.5104 - accuracy: 0.7926 - val_loss: 0.5126 - val_accuracy: 0.7907
Epoch 21/1000
449/449 [==============================] - 2s 4ms/step - loss: 0.5104 - accuracy: 0.7926 - val_loss: 0.5128 - val_accuracy: 0.7907
Epoch 21: early stopping

In [52]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [56]:
y_pred=classifier.predict(X_test)
y_pred=(y_pred>=0.5)

104/104 [==============================] - 1s 6ms/step

In [57]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)
print(cm)

[[2657  643]
 [   0    0]]

In [58]:
#3 accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
print(score)

0.8051515151515152

In [59]:
##get the weights
classifier.get_weights()

[array([[-3.4309027e-01,  3.9306939e-02,  4.2007136e-01,  1.5257701e-01,
          1.1657544e-01,  3.4617804e-02, -1.7722192e-01, -2.8816778e-02,
         -1.3885637e-01,  2.7912059e-01,  2.7445915e-01],
        [-8.3149433e-02,  7.3376912e-01, -2.2617698e+00, -1.0270244e+00,
          5.9053481e-01,  4.0666664e-01,  1.4466445e+00,  1.4479282e+00,
          1.0942043e+00,  4.7939110e-01, -1.0199506e+00],
        [-4.5091063e-02, -1.0970608e-01,  3.9532214e-01,  4.9844375e-03,
          2.7568603e-01, -3.0508208e-01, -2.7671400e-01, -9.9356782e-01,
         -4.5472157e-01, -7.3115349e-02,  6.9581205e-01],
        [-6.7466378e-02, -6.4189720e-04,  3.8505685e-01,  1.6260245e-01,
          8.5944690e-02, -1.3378406e-01,  3.2803020e-01,  6.2181465e-02,
          1.2861776e-01, -1.4792838e-03, -1.5808269e-01],
        [ 1.6305488e-01, -2.0447083e-01, -9.0160739e-01,  1.5531644e+00,
         -3.1396851e-01, -7.5075656e-02,  4.7119436e-01, -7.9449564e-01,
         -1.1915009e+00,  2.3280159e-01,  2.7311959e+00],
        [-5.0950378e-01, -7.5896931e-01,  3.9512745e-01,  6.3386756e-01,
          3.4945436e-02, -1.4009559e-01, -3.3858714e-01, -8.0640614e-01,
         -8.0041909e-01, -2.3190716e-01,  1.0097857e+00],
        [ 1.6450441e-01, -1.2116245e+00,  3.5372319e+00,  3.7210340e+00,
         -2.8655593e+00,  4.3683282e-01, -3.6983738e+00, -5.5024724e+00,
         -5.1237783e+00,  1.1925490e+00,  3.4837377e+00],
        [-1.5368462e-03, -8.2578242e-01,  1.8090333e-01,  8.9232557e-02,
          2.3554191e-01, -4.1542032e-01, -1.2427723e-01,  8.6572476e-02,
          2.6603696e-01, -3.1561136e-01,  6.0742460e-02],
        [ 1.4353555e-01,  1.9749560e+00, -3.9559345e+00, -3.2315414e+00,
          1.9041951e+00,  2.0801181e-01,  3.7100663e+00,  4.0856795e+00,
          4.4045095e+00,  2.0543436e-02,  1.8126979e+00],
        [ 5.1022828e-02, -1.1954982e+00,  1.2853055e+00,  1.1410646e+00,
         -5.1086527e-01,  4.0748924e-01, -1.9738710e+00, -1.6513604e+00,
         -1.9062840e+00,  3.5946488e-02, -2.3238882e-01],
        [ 4.3038040e-01, -1.0976452e+00,  1.5887675e+00,  2.7824845e+00,
         -2.7302773e+00,  1.2701747e-01, -3.0200145e+00, -3.6623142e+00,
         -3.7567165e+00, -1.5456180e-01,  2.9541395e+00]], dtype=float32),
 array([ 0.        , -0.32805914,  0.04109633,  0.58339584, -0.2180156 ,
         0.00816687,  0.01847708, -0.5040239 , -0.4326566 , -0.07436791,
         0.57982117], dtype=float32),
 array([[-1.08232796e-01, -3.69762599e-01, -4.23310339e-01,
         -2.18637049e-01, -1.98511362e-01, -2.60889441e-01,
         -3.73271465e-01],
        [-4.37295765e-01, -1.16373096e-02, -8.46477151e-02,
         -2.83915162e-01,  1.88893229e-01,  3.08900058e-01,
          2.01130092e-01],
        [ 6.46147072e-01, -9.60663240e-03,  2.74961323e-01,
          7.81429410e-02,  2.00352237e-01, -1.69334505e-02,
         -3.71828169e-01],
        [-5.55793941e-02, -7.15986490e-01,  3.37203294e-01,
          3.43783557e-01, -2.54577875e-01,  3.16485941e-01,
         -2.53999054e-01],
        [ 4.99778003e-01,  1.27744034e-01,  8.32254514e-02,
         -4.05988187e-01,  1.01188600e-01,  1.04139380e-01,
         -6.09944701e-01],
        [ 6.83379322e-02, -4.61378276e-01,  3.33508432e-01,
         -2.23867655e-01,  2.72038102e-01, -3.12349409e-01,
         -2.60858536e-01],
        [ 2.19965965e-01, -2.37479270e-01,  3.91922832e-01,
         -2.86052525e-01,  1.19570464e-01,  3.24459523e-01,
         -2.01285556e-01],
        [-2.49214649e-01, -6.27100110e-01, -4.10039276e-02,
         -5.60696125e-02, -1.44331530e-01, -3.49464476e-01,
          2.75835216e-01],
        [-1.96913868e-01, -7.85734415e-01,  1.55635491e-01,
         -3.70447268e-03, -3.38046193e-01, -1.25799200e-03,
          4.30971682e-01],
        [-2.75186718e-01,  1.42422390e+00,  2.40349442e-01,
          1.04116581e-01,  6.96046531e-01,  1.27106905e-01,
          3.17837894e-01],
        [-1.86709553e-01,  7.36176446e-02, -2.15677127e-01,
          1.73358619e-01,  7.49863565e-01,  1.34449214e-01,
          5.20556629e-01]], dtype=float32),
 array([ 4.6956915e-04, -1.8748246e-01, -5.5257130e-01,  4.3238997e-01,
         2.0434052e-01,  6.3547546e-01, -4.9279308e-01], dtype=float32),
 array([[-0.13781098, -0.36342147, -0.6320645 , -0.6087606 ,  0.06883323,
          0.13221963],
        [ 1.1780405 ,  0.03013325, -0.49498397,  0.23478964, -0.46978623,
         -0.6291818 ],
        [-0.09312782, -0.05666775, -0.49744573,  0.5085654 , -0.17895502,
         -0.88728756],
        [ 0.07549322, -0.56842667,  0.04981754, -0.0713507 , -0.11822319,
          0.382058  ],
        [ 0.135537  , -0.38212845, -0.17100815, -0.12467922, -0.43745667,
          0.0628785 ],
        [ 0.02113472, -0.64597845,  0.5232003 , -0.21234271,  0.0678705 ,
         -0.39285043],
        [-0.11638009, -0.39165604,  0.35387564,  0.04705224,  0.16074222,
          0.45619395]], dtype=float32),
 array([ 0.5149485 ,  0.        ,  0.64619   , -0.49157202,  0.        ,
        -0.3792348 ], dtype=float32),
 array([[-0.01869457],
        [-0.56178087],
        [-0.02370675],
        [-0.02239136],
        [ 0.4746338 ],
        [ 0.47092554]], dtype=float32),
 array([-1.3336027], dtype=float32)]